.container {
  border: 1px solid grey;
  padding: 10px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600;
  display: block;
  background-color: plum;
}
.searchCity {
  margin: 20px;
}

.searchButton {
  margin: 0;
  background-color: whitesmoke;
}

.col {
  margin: 0;
  padding: 5px;
  width: 50px;
}
